<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Survey</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <center>
            <h2>Fire SALE</h2>
            <hr>
            <h3><strong>Your company name</strong></h3>
            <h4>Name (Required)</h4>
            <input type="text" name="" id="name" class="form-control" required>
            <h4>Description of Company</h4>
            <textarea class="form-control" rows="3" id="companyDescription" placeholder="Description"></textarea>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <h3><strong>Item 1</strong></h3>
                    <h4>Type in the item you would like to put in the store with the price and inventory.</h4>
                    <input type="text" name="" id="item1" class="form-control" placeholder="Item" required>
                    <input type="text" class="form-control" placeholder="price" id="price1">
                    <input type="text" class="form-control" placeholder="Inventory" id="Inventory1">
                    <br>
                </div>
                <div class="col-md-6">
                    <h3><strong>Item 2</strong></h3>
                    <h4>Type in the item you would like to put in the store with the price and inventory.</h4>
                    <input type="text" name="" id="item2" class="form-control" placeholder="Item" required>
                    <input type="text" class="form-control" placeholder="price" id="price2">
                    <input type="text" class="form-control" placeholder="Inventory" id="Inventory2">
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3><strong>Item 3</strong></h3>
                    <h4>Type in the item you would like to put in the store with the price and inventory.</h4>
                    <input type="text" name="" id="item3" class="form-control" placeholder="Item" required>
                    <input type="text" class="form-control" placeholder="price" id="price3">
                    <input type="text" class="form-control" placeholder="Inventory" id="Inventory3">
                    <br>
                </div>
                <div class="col-md-6">
                    <h3><strong>Item 4</strong></h3>
                    <h4>Type in the item you would like to put in the store with the price and inventory.</h4>
                    <input type="text" name="" id="item4" class="form-control" placeholder="Item" required>
                    <input type="text" class="form-control" placeholder="price" id="price4">
                    <input type="text" class="form-control" placeholder="Inventory" id="Inventory4">
                    <br>
                </div>
            </div>
            <br>
            <br>
        </center>
        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary btn-lg btn-block" id="submit"><i class="fa fa-check-circle" aria-hidden="true"></i> Submit
        </button>
        <hr>
        <footer class="footer">
            <div class="container">
                <p><a href="/api/friends">API Friends List</a> | <a href="https://github.com/AlexHimchak/fireSale">GitHub Repo</a></p>
            </div>
        </footer>
    </div>
</body>
<script type="text/javascript">


// $("#submit").on("click", function() {
//     var newFriend = {
//         name: $("#name").val().trim(),
//         role: $("#photo").val().trim(),
//         selection: [$("#q1").val(), $("#q2").val(), $("#q3").val(), $("#q4").val(), $("#q5").val(), $("#q6").val(), $("#q7").val(), $("#q8").val(), $("#q9").val(), $("#q10").val()]
//     };
//     console.log(newFriend);
//     var currentURL = window.location.origin;

//     $.post(currentURL + "/api/friends", newFriend)
//         .done(function(data) {
//             console.log(data);

//         });

//     $.ajax({ url: currentURL + "/api/friends", method: "GET" })
//         .done(function(friendData) {

//             // Here we then log the NYTData to console, where it will show up as an object.
//             console.log(friendData);
//             console.log(friendData[0].selection[2]);
//             var totalScore = 100;
//             var score = 0;
//             var a = [];
//             var j = friendData.length - 1;
//             // Loop through and display each of the customers
//             for (var i = 0; i < friendData.length - 1; i++) {

//                 var score1 = Math.abs(friendData[i].selection[0] - friendData[j].selection[0]);
//                 var score2 = Math.abs(friendData[i].selection[1] - friendData[j].selection[1]);
//                 var score3 = Math.abs(friendData[i].selection[2] - friendData[j].selection[2]);
//                 var score4 = Math.abs(friendData[i].selection[3] - friendData[j].selection[3]);
//                 var score5 = Math.abs(friendData[i].selection[4] - friendData[j].selection[4]);
//                 var score6 = Math.abs(friendData[i].selection[5] - friendData[j].selection[5]);
//                 var score7 = Math.abs(friendData[i].selection[6] - friendData[j].selection[6]);
//                 var score8 = Math.abs(friendData[i].selection[7] - friendData[j].selection[7]);
//                 var score9 = Math.abs(friendData[i].selection[8] - friendData[j].selection[8]);
//                 var score10 = Math.abs(friendData[i].selection[9] - friendData[j].selection[9]);
//                 totalScore = score1 + score2 + score3 + score4 + score5 + score6 + score7 + score8 + score9 + score10;
//                 a[i] = totalScore;
//             };
//             var index = 0;
//             var value = a[0];
//             for (var i = 1; i < a.length; i++) {
//                 if (a[i] < value) {
//                     value = a[i];
//                     index = i;
//                 }
//             }
//             console.log(a);
//             console.log(index);
//             $('#myModal').modal('show');
//             $(".modal-body").append(friendData[index].name);
//             $(".modal-body").append('<img src="' + friendData[index].photo + '" width="300" />');


//         });
// });
</script>
<style type="text/css">
.container {
    background: url('http://wallpapercave.com/wp/TN0iVKO.jpg') !important;
    color: red !important;
}
</style>

</html>