<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Myshop</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="text-center"> </h1>
            <div id="name"></div>
            <div id="description"></div>
            <hr>
            <h2 class="text-center"></h2>
            <br>
        </div>
        <div class="row">
            <div class="col-md-6" id="item1">
                <div id="pic1"></div>
            </div>
            <div class="col-md-6" id="item2">
                <div id="pic2"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" id="item3">
                <div id="pic3"></div>
            </div>
            <div class="col-md-6" id="item4">
                <div id="pic4"></div>
            </div>
        </div>
        <div class="row" id="description">
        </div>
        <footer class="footer">
            <div class="container">
                <p><a href="/api/shops">API Shop</a> | <a href="https://github.com/AlexHimchak/fireSale">GitHub Repo</a></p>
            </div>
        </footer>
    </div>
</body>
<script type="text/javascript">
var currentURL = window.location.href;
var url = new URL(currentURL);
var index = url.searchParams.get("id");
console.log(index);

$.ajax({ url: "/api/shops/" + index, method: "GET" })
    .done(function(shopData) {
        console.log(shopData);
        // $("#name").append(shopData[0].shopName);
        // $("#description").append(shopData[0].shopDescription);
        // $("#item1").append(shopData[0].Items[0].itemTitle);
        // $("#item2").append(shopData[0].Items[1].itemTitle);
        // $("#item3").append(shopData[0].Items[2].itemTitle);
        // $("#item4").append(shopData[0].Items[3].itemTitle);
        $("#name").append(shopData.shopName);
        $("#description").append(shopData.shopDescription);
        $("#pic1").append('<img src="' + shopData.Items[0].image + '" width="300" height="300"/>');
        $("#item1").append(shopData.Items[0].itemTitle);
        $("#pic2").append('<img src="' + "http://www.ripoffreport.com/d/r1147292-pmfs7z-csznobnnag/pdp_soft_taco.png" + '" width="300" height="300"/>');
        $("#item2").append(shopData.Items[1].itemTitle);
        $("#pic3").append('<img src="' + "http://ww1.hdnux.com/photos/25/26/10/5595704/3/rawImage.jpg" + '" width="300" height="300"/>');
        $("#item3").append(shopData.Items[2].itemTitle);
        $("#pic4").append('<img src="' + "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhqvPdxTs60m8e4sm2ur-S6yJDwVxGPkXFljhbbOVrbjWsSbp5" + '" width="300" height="300" />');
        $("#item4").append(shopData.Items[3].itemTitle);


    });
</script>
<style type="text/css">
body {
    background: url('http://blacktie.co/demo/premium/dashio/frontend/demos/sliderbg_02.png') no-repeat center center fixed!important;
    background-size: cover !important;

}

.jumbotron {

    color: black;
}

#name {
    text-align: center;
    font-size: 70px;
}

#description {
    font-size: 40px;
}

#item1,
#item2,
#item3,
#item4 {
    font-size: 30px;
}
</style>

</html>