<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Myshop</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="assets/appendshop.js"></script>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="text-center"><div id="shopname"></div></h1>
            <hr>
            <h2 class="text-center"><div id="shopdescription"></div></h2>
            <br>

        </div>
        <div class="row">
            <div class="col-md-6" id="item1">.col-md-6</div>
            <div class="col-md-6" id="item2">.col-md-6</div>
        </div>
        <div class="row">
            <div class="col-md-6" id="item3">.col-md-6</div>
            <div class="col-md-6" id="item4">.col-md-6</div>
        </div>
        <div class="row" id="description">
        </div>
        <footer class="footer">
            <div class="container">
                <p><a href="/api/shops">API Store Link</a> | <a href="https://github.com/AlexHimchak/fireSale">GitHub Repo</a></p>
            </div>
        </footer>
    </div>
</body>
<style type="text/css">
body {
    background: url('http://blacktie.co/demo/premium/dashio/frontend/demos/sliderbg_02.png') !important;
}

.jumbotron {

    color: white;
}
</style>


</html>