body {
    background: url('https://s-media-cache-ak0.pinimg.com/originals/8f/28/e6/8f28e6ed576544805406f9c09ad950e6.jpg') no-repeat center center fixed!important;
    color: black !important;
}

.form-control {
    background-color: #ffdab3;
}