body {
    background: url('/views/img/fireblue.jpg') no-repeat center center fixed !important;
    background-size: cover !important;
}

.jumbotron {
    background: url("/views/img/smallblue.jpg") !important;
    background-size: cover !important;
    color: coral;
}

.list-group-item {
    background: coral;
    width: 33%;
    margin: auto;
}

.shop-name {
    font-weight: bold;
    font-size: 25px;
}

.shop-description {
    font-style: italic;
}
