body {
    background: url('/views/img/blue.png') no-repeat center center fixed!important;
    background-size: cover !important;
}

.jumbotron {

    color: black;
    background-color: lightblue;

}

#name {
    text-align: center;
    font-size: 70px;
}

#description {
    font-size: 40px;
    text-align: center;
}

#item1,
#item2,
#item3,
#item4 {
    font-size: 30px;
}